/* Estilos para el frontend */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form button {
    padding: 10px 15px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #4cae4c;
}